body {
    margin: 0;
    padding: 0;
}
.catalog {
    width: 1920px;
    
}
.head-1 {
    position: absolute;
    
    background-color: #333;
    width: 1920px;
    height: 100px;
}
.a-head {
    padding: 25px;
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}
.a-head:hover {
    color: #59f;
}
.h-left {
    position: absolute;
    width: 411px;
    margin: 43px 0 200px 362px;
}
.logo {
    position: absolute;
    margin: 25px 852px 873px 852px;
    width: 216px;
    height: 52px;
}
.h-right {
    margin: 42px 0 885px 1167px;
}
.r-block1 {
    position: absolute;
}
.r-block2 {
    position: absolute;
    margin: 0px 25px;
}
.r-block3 {
    position: absolute;
    margin: 0px 129px;
}
.r-block4 {
    position: absolute;
    margin: 0px 322px;
}
.r-block5 {
    position: absolute;
    margin: 0px 355px;
}
.content {
    position: absolute;
    background: #D6D6D6;
    width: 100%;
    height: 150%;
    margin-top: 100px;
}
.content {
    width: 1920px;
    height: 1020px;
    position: absolute;
}
.catalog-menu {
    margin-top: 90px;
    position: absolute;
}
.block2-button {
    margin-top: 0;
    margin-left: 403px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bl2-but {
    width: 182px;
    height: 61px;
    border: 1px solid #D6D6D6;
    box-shadow: inset 1px;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: center;
    flood-color: #333333;
    background-color: #F9F9F9;
    font-family: 'Khula', sans-serif;
}
.bl2-but:hover {
    background: #333333;
    color: #F9F9F9;
}
.block2-img {
    width: 1110px;
    height: 851px;
    margin-left: 405px;
}
.block2-img1 {
    padding: 8px 8px;
}
.block2-img1:hover {
    border-bottom: 2px solid rgb(30, 29, 31);
    border-right: 2px solid rgb(30, 29, 31);
}
.block5 {
    position: absolute;
    margin-top: 1120px;
}
.block5-head {
    position: absolute;
    width: 1110px;
    margin-top: -471px;
    margin-left: 385px;
}
.block5-head-mini {
    font-family: 'Khula', sans-serif;
    font-size: 21px;
    text-align: center;
    line-height: 29px;
    color: white;
}
.block5-head-mein {
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    text-align: center;
    line-height: 41px;
    letter-spacing: 1px;
    color: white;
}
.block5-content {
    position: absolute;
    margin-top: -240px;
    margin-left: 555px;
    display: flex;
}
.block5-ul {
    color: white;
    margin-top: -7px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 10px;
}
.block5-li {
    margin-right: 4px;
    margin-bottom: -3px;
}
.block5-form {
    margin-left: 80px;
    width: 448px;
    height: 116px;
    border: 1px solid white;
}
.block5-mail {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 418px;
    height: 86px;
    background-color: white;
    position: absolute;
}
.inp-email {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: 15px;
    border: 1px solid #333;
}
.block5-but {
    position: absolute;
    margin-top: 20px;
    margin-left: 257px;
}
.bl5-button {
    margin-top: 15px;
    width: 159px;
    height: 46px;
    background-color: #333;
    border: 1px solid #fff;
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.bl5-button:hover {
    border: #57f solid 3px;
    background-color: #59f;
}
.bl5-button:active {
    color: #55f;
}
.block6 {
    margin-top: 1661px;
    position: absolute;
    background: #D6D6D6;
    width: 1920px;
    height: 467px;
    margin-bottom: 0;
}
.block6-content {
    display: flex;
    width: 1110px;
    margin-top: 80px;
    margin-left: 405px;
}
.foot1 {
    width: 255px;
    height: 194px;
}
.f1-title {
    border-bottom: 1px solid #333;
}
.bl6-1 {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #333333;
}
.ul-f1 {
    margin-top: 30px;
}
.li-f1 {
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    text-decoration: none;
    padding-bottom: 15px;
}
.li-f1:hover {
    border-bottom: 1px solid #000;
    width: max-content;
}
.foot2 {
    width: 255px;
    height: 179px;
    margin-left: 30px;
}
.f2-title {
    border-bottom: 1px solid #333;
}
.bl6-2 {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #333333;
}
.bl6-p2 {
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin-top: 30px;
    padding-bottom: 21px;
}
.f2-img {
    margin-top: 21px;
}
.f2-mc {
    padding-left: 20px;
}
.foot3 {
    width: 295px;
    height: 158px;
    margin-left: 30px;
}
.f3-title {
    border-bottom: 1px solid #333;
}
.bl6-3 {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #333333;
}
.ul-f3 {
    margin-top: 30px;
}
.f3-img {
    position: absolute;
    margin-left: -38px;
}
.li-f3 {
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin-left: 30px;
    padding-bottom: 15px;
}
.foot4 {
    width: 255px;
    height: 176px;
    margin-left: 30px;
}
.f4-title {
    border-bottom: 1px solid #333;
}
.bl6-4 {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #333333;
}
.bl6-p4 {
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin-top: 30px;
}
.f4-img {
    margin-right: 4px;
}
.f4-youtube {
    margin-top: 22px;
}
.f4-vk {
    margin-top: 23px;
    margin-left: 20px;
}
.f4-facebook {
    margin-top: 25px;
    margin-left: 28px;
}
.f4-telegram {
    margin-top: 23px;
    margin-left: 20px;
}
.f4-icons_etsy {
    margin-top: 27px;
    margin-left: 25px;
}
.foot5 {
    position: absolute;
    width: 1110px;
    height: 50px;
    margin-top: 334px;
    border-top: 1px solid #333;
}
.f1 {
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin-top: 20px;
    margin-left: 20px;
}
.f2 {
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin-top: 20px;
    margin-left: 160px;
}
.f3 {
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin-top: 20px;
    margin-left: 160px;
}
.f4 {
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
    margin-left: 130px;
    text-decoration: none;
}
.f4-a {
    text-decoration: none;
    color: #333;
}
.f1-a {
    text-decoration: none;
    color: #333;
}
.f1:hover {
    border-bottom: 1px solid #000;
    width: max-content;
}
.f2:hover {
    border-bottom: 1px solid #000;
    width: max-content;
}
.f3:hover {
    border-bottom: 1px solid #000;
    width: max-content;
}
.f4:hover {
    border-bottom: 1px solid #000;
    width: max-content;
}